/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane1{
    -fx-background-image: url("img/1a.jpg"); 
}
.pane2{
    -fx-background-image: url("img/2a.jpg"); 
}
.pane3{
    -fx-background-image: url("img/3a.jpg"); 
}
.pane4{
    -fx-background-image: url("img/4a.jpg"); /*"../img/4.jpg"*/
} 

.gradient{
	-fx-background-color: linear-gradient(#120ecf, #22c4e0);
	}